#include "ackres.h"

ackicon ICON "ackicon.ico"





DLGINFO DIALOG 6, 15, 269, 270
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Information"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 105, 243, 50, 14
 LISTBOX IDC_LISTBOX1, 9, 23, 251, 204, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 LTEXT "", IDC_ST_HEADER, 9, 6, 251, 11
 LTEXT "", IDC_ST_FOOTER, 9, 222, 252, 12
}

